@font-face {
  font-family: "Dank Mono";
  src: url(assets/fonts/DankMono-Regular.ttf);
  font-weight: normal;
}

body {
  width: 98%;
  height: 100%;
  color: white;
  background: url(assets/images/background1920.png);
  background-repeat: no-repeat;
  background-position: cover;
  background-size: auto 100vh;
  font-family: "Dank Mono", monospace;
}

h1, h2 {
  padding: 0;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

main {
  width: 98%;
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 60px;
  background: rgba(0,0,0,0.4);
}

.subtitle {
  font-size: 22px;
  background: rgba(0,0,0,0.4);
}

.red {
  color: #ec5252;
}

.red-bg {
  background: #ec5252;
}

.button {
  margin: 15px;
  padding: 8px 20px;
  transition: all 125ms ease-in;
}

.button:hover {
  transform: scale(1.1);
}

.social {
  margin-top: 15px;
}

.social a {
  transition: all 200ms ease-in;
}

.social a:hover {
  color: hsl(61, 100%, 50%);
}

@media only screen and (min-width: 500px) {
  body {
    background-size: 700px auto;
  }
}

@media only screen and (min-width: 700px) {
  body {
    background-size: 1000px auto;
  }
}

@media only screen and (min-width: 1000px) {
  body {
    background-size: 1920px auto;
  }

  .title {
    font-size: 80px;
  }
  
  .subtitle {
    font-size: 29px;
  }

  .social {
    font-size: 30px;
  }

  .button {
    margin: 20px;
    padding: 12px 30px;
    font-size: 20px;
  }
}

@media only screen and (min-height: 1000px) {
  body {
    background-size: auto 100vh;
  }
}